:root {
  --bg-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: -apple-system;
  padding: 0 2rem;
  max-width: 64rem;
}

h1, h2, h3, h4 {
  font-size: inherit;
}

.blog-post {
  margin: 2rem 0;
}
